@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,900&display=swap');
*{
    font-family: 'Roboto',sans-serif;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    color:black;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
    padding:0;
}

:root{
    --background:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
    --black: black;
    --gray:rgb(92, 91, 91);
    --gold:rgb(239, 221, 124);
}
.body{
    background-color: var(--background);
    color:black;
}
.body::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 12px;
}

.Container-List {
    display:grid;
    grid-template-columns: repeat(3,1fr);
}